#navigator {
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 1em;
    z-index: 999;
}

#about, #works, #contact {
    margin-left: 2.4em;
    margin-bottom: 0.6em;
    width: fit-content;
}


#flower1, #flower2, #flower3 {
    display: inline-block;
}

#flower1.rotate, #flower2.rotate, #flower3.rotate {
    transform-origin: center;
    animation: rotate 4s linear infinite;
}

#flower1.fly, #flower2.fly, #flower3.fly {
    animation: fly 1.5s linear;
    pointer-events: none;
    position: fixed;
    z-index: 999999;
}

#letter1, #letter2, #letter3 {
    margin-left: 0.2em;
}

.flier img {
    height: 1.9rem;
}

.letters img {
    height: 2.3rem;
}

@keyframes rotate {
from {
    transform: rotate(0deg);
}
to {
    transform: rotate(360deg);
}
}

@keyframes fly {
0% {
    transform: translateX(0) translateY(0) rotate(0deg);
}
100% {
    transform: translateX(calc(100vw - 3rem)) translateY(calc(100vh - 3rem)) scale(70) rotate(180deg);
}
}

