body {
    color: #003853; 
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background-image: url('subbackground-01.svg');
    background-position: center;
}

#menuCover {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
}

#menuCover img {
    /* height: 17em; */
}

.paragraph {
    font-size: 1.2em;
    line-height: 1.8em;
}

.emphasis {
    font-size: 1.6em;
    font-weight: bold;
}

#worksLine {
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
}

#logo {
    height: 9vh;
    position: relative;
    top: 1.5em;
    right: 2em;
}

#line {
    height: 100vh;
}

#gallery {
    position: relative;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#work1 {
    padding-top: 10em;
    z-index: -999;
}
#work1, #work2, #work4{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 65%; 
    box-sizing: border-box; 
    margin: 0 auto; 
}

#work2, #work4 {
    margin: 0 auto 2em auto;
}

#work1 .image, #work2 .image, #work4 .image{
    text-align: center;
}

#work2 .image {
    margin-right: 10em;
}

#work1 .content, #work2 .content, #work4 .content {
    padding-left: 3em;
    margin-right: 3em;
    min-width: 30%;
    max-width: 40%;
}

#work4 .content {
    margin-right: 17em;
}

#work2 .content {
    min-width: 30%;
    max-width: 40%;
    text-align: right;
}

#work3, #work5, #work6{
    width: 70%; 
    padding-bottom: 2em;
}

#work3 img{
    max-width: 100%;
    height: auto;
    display: block;
}

#work3 .content {
    display: block;
    margin: 0;
    text-align: left;
    width: 80%;
    padding-top: 1em;
}

#work4 .image {
    display: flex;
}

#work4 .image img {
    margin-left: 1em; 
}

.image-container {
    position: relative;
    width: 75%;
    padding-top: calc(9 / 16 * 70%); /* 16:9 aspect ratio */
    overflow: hidden;
}

.image-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.read-more-btn {
    background-color: #003853;
    color: white;
    padding: 0.7em;
    border-color: #003853;
    border-radius: 0.5em;
    cursor: pointer;
    font-family: 'Elsie';
    font-size: 1.2em;
    margin-left: 0em;
}

.read-more-btn:hover {
	background-color: #94B58E;
    border-color: #94B58E;
}

#work5 iframe, #work6 iframe {
    width: 70%; 
    height: 20em; 
}

#work6 {
    margin-bottom: 5em;
}


@media (max-width: 1000px) {
    #gallery {
        position: relative;
        left: 0;
    }

    #worksLine {
        display: none;
    }

    #work1 {
        margin-top: 10em;
    }

    #work1, #work2, #work3, #work4 {
        display: block;
        width: 100%; 
        box-sizing: border-box; 
    }

    #work4 .image {
        display: block;
    }

    #work4 .image img {
        margin-top: 1em;
    }

    #work1 .image,  #work2 .image,  #work4 .image {
        margin: 0;
        margin-bottom: 2em;
    }

    #work3 .image {
        display: block;
        margin: 0 2em;
    }

    .image-container {
        position: relative;
        width: 100%;
        padding-top: calc(9 / 16 * 100%); /* 16:9 aspect ratio */
        overflow: hidden;
    }

    .image-container img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover; 
    }

    #work1 .content, #work2 .content, #work3 .content, #work4 .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: left;
        width: 100%;
        margin: 0 auto;
        padding: 0;
        max-width: 75%;
        min-width: 50%;
    }

    #work5 iframe, #work6 iframe {
        width: 100%;
    }

}