body {
    color: #003853; 
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background-image: url('subbackground-01.svg');
    background-position: center;
}


#menuCover {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
}


#menuCover img {
    height: 17em;
}


.paragraph {
    font-size: 1.2em;
    line-height: 1.8em;
}

.emphasis {
    font-size: 1.6em;
    font-weight: bold;
}

#worksLine {
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
}

#logo {
    height: 9vh;
    position: relative;
    top: 1.5em;
    right: 2em;
}

#line {
    height: 100vh;
}

#gallery {
    position: relative;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.work{
    width: 85%; 
    padding-bottom: 2em;
}

.work img{
    max-width: 100%;
    height: auto;
    display: block;
}

.image-container {
    position: relative;
    width: 70%;
    display: flex;
}

.work .content {
    display: block;
    margin: 0;
    text-align: left;
    width: 80%;
    padding-top: 1em;
}
.read-more-btn {
    background-color: #003853;
    color: white;
    padding: 0.7em;
    border-color: #003853;
    border-radius: 0.5em;
    cursor: pointer;
    font-family: 'Elsie';
    font-size: 1.2em;
    margin-left: 0em;
}

.read-more-btn:hover {
	background-color: #94B58E;
    border-color: #94B58E;
}

#work1 {
    margin-top: 15em;
}


#work4 {
    overflow: auto; 
    margin-bottom: 5em;
}

#work4 iframe {
    width: 70%; 
    height: 30em; 
}


@media (max-width: 600px) {
    #gallery {
        position: relative;
	}
    
	#worksLine {
        display: none;
    }

    .work img {
        max-width: 100%;
        height: auto;
        display: block;
    }

    .image-container {
        position: relative;
        width: 100%;
        
    }
    
    .work .content {
        display: block;
    	margin: 0;
        text-align: left;
        width: 80%;
        min-width: 50%;
    }

    #work4 iframe {
        width: 100%;
        height: 15em; 
    }
}

