body {
    color: #003853; 
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background-image: url('subbackground-01.svg');
    background-size: cover; /* Cover the entire background */
    background-position: center;
}

a {
    text-decoration: none;
    color: white; 
}

#worksLine {
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
}

#logo {
    height: 9vh;
    position: relative;
    top: 1.5em;
    right: 2em;
}

#line {
    height: 100vh;
}

.content h2 {
    font-size: 1.8em;
    color: #003853; 
}
.content p {
    font-size: 1.2em;
    color: #003853; 
}

#gallery {
    position: relative;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#work0 {
    margin-top: 15em;
}


#work1, #work4 {
    display: flex;
    justify-content: center;
    width: 70%;
    box-sizing: border-box; 
    margin: 0em auto 5em auto; 
}

#work1 .image, #work4 .image{
    text-align: center;
}

#work1 .content, #work4 .content {
    padding-left: 3em;
    padding-right: 10em;
    min-width: 30%;
    max-width: 50%;
}

#work2, #work3, #work0 {
    width: 70%; 
    height: 100%;
    padding-bottom: 5em;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 100%;
    overflow: hidden;
}

.image-container img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}


#work1 .content, #work2 .content, #work3 .content, #work0 .content {
    display: block;
    width: 70%;
}

.read-more-btn {
    background-color: #003853;
    color: white;
    padding: 0.6em;
    border-color: transparent;
    border-radius: 0.5em;
    cursor: pointer;
    font-family: 'Elsie';
    font-size: 1em;
}

.read-more-btn:hover {
    border-color: transparent;
	background-color: #94B58E;
}

#work0 .image {
    z-index: -999;
}

@media (max-width: 1000px) {
    #gallery {
        position: relative;
        left: 0;
	}
    
	#worksLine {
        display: none;
    }

    #menuCover {
        max-width: 100%;
        width: 100%; 
    }

    #work0 {
        margin-top: 20em;
    }

    #work1, #work4{
        display: block;
        margin-bottom: 5em;
        width: 100%; 
    }
    
    #work0, #work1, #work2, #work3, #work4 {
        width: 75%;
    }

    #work2 img,
    #work3 img, 
    #work0 img {
        max-width: 100%;
        display: block;
    }

    
    .image-container {
        position: relative;
        width: 100%;
        padding-top: calc(9 / 16 * 100%); /* 16:9 aspect ratio */
        overflow: hidden;
    }

    .image-container img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover; 
    }
    
    #work1 .content, #work4 .content {
        padding-left: 0;
        max-width: 100%;
    }
    
    #work0 .content, #work1 .content, #work2 .content, #work3 .content, #work4 .content {
        display: block;
    	margin: 0;
        text-align: center;
        width: 100%;
    }

    @media (max-width: 450px) {
        
    }
}